<div #domainCard
  aria-haspopup="true" 
  class="domain-card p-card bg-surface-card text-default px-4 py-2 mb-4 shadow-md border-radius-custom h-full flex flex-col gap-4 relative">
  
  <!-- Action buttons - visible only on hover -->
  <div class="edit-button-container absolute top-2 right-2 gap-2 align-items-center">
    <p-button
      label="Edit"
      [link]="true"
      icon="pi pi-pencil"
      class="text-xs text-default m-0 opacity-70 hover:!opacity-100"
      styleClass="text-default m-0 p-2 font-normal text-xs" />
  </div>

  <!-- Domain Name -->
  <h2 *ngIf="isVisible('domainName')" class="m-0">
    <a [href]="'/domains/'+domain.domain_name" class="no-underline text-default">
      <app-domain-favicon [domain]="domain.domain_name" [size]="24" class="mr-2"></app-domain-favicon>
      <span class="text-primary">{{ domainUtils.splitDomain(domain.domain_name).domain }}</span>
      <span class="text-default">.</span>
      <span class="text-secondary">{{ domainUtils.splitDomain(domain.domain_name).tld }}</span>
    </a>
  </h2>
  
  <!-- Core Info: Registrar and Expiry -->
  <div class="flex justify-between align-items-center">
    <p *ngIf="domain.registrar && isVisible('registrar')"
      class="m-0 truncate max-w-xs"
      [pTooltip]="'Registrar: ' + domain.registrar.name + ' (' + domain.registrar.id + ')'"
    >{{ domain.registrar.name }}</p>
    <p-tag
      *ngIf="domain.expiry_date && isVisible('expiryDate')"
      [pTooltip]="domain.expiry_date ? 'Expires on ' + (domain.expiry_date | date:'mediumDate') : 'Unknown Expiry Date'"
      [value]="domainUtils.getRemainingDaysText(domain.expiry_date)"
      [severity]="domainUtils.getExpirySeverity(domain.expiry_date)"
      styleClass="ml-2 w-20"
    ></p-tag>  
  </div>

  <!-- Tags -->
  <div *ngIf="domain.tags?.length && isVisible('tags')">
    <a *ngFor="let tag of domain.tags" [href]="'/assets/tags/'+tag">
      <p-tag  [value]="tag" styleClass="bg-highlight rounded-2xl text-highlight px-2  py-1 mr-1"></p-tag>
    </a>
  </div>


  <!-- IP address list -->
  <p-panel *ngIf="domain.ip_addresses?.length && isVisible('ipAddresses')" [toggleable]="true" class="custom-pannel">
    <ng-template pTemplate="header">
      <h4 class="text-surface-400 m-0 mb-2 uppercase text-sm font-bold">IP Addresses</h4>
    </ng-template>
    <ul class="list-none p-0 m-0">
      <li *ngFor="let ip of domain.ip_addresses" class="font-mono text-xs">
        {{ ip.ip_address }} ({{ ip.is_ipv6 ? 'IPv6' : 'IPv4' }})
      </li>
    </ul>
  </p-panel>

   <!-- SSL Info -->
  <p-panel *ngIf="domain.ssl && isVisible('sslCertificate')" [toggleable]="true" class="custom-pannel">
    <ng-template pTemplate="header">
      <h4 class="text-surface-400 m-0 mb-2 uppercase text-sm font-bold">SSL Certificate</h4>
    </ng-template>
    <div class="flex flex-col gap-1">
      <p class="m-0 text-xs">
        <strong class="font-semibold">Issuer:</strong> {{ domain.ssl.issuer }}</p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Issuer Country:</strong> {{ domain.ssl.issuer_country }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Subject:</strong> {{ domain.ssl.subject }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Valid From:</strong> {{ domain.ssl.valid_from | date:'mediumDate' }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Valid To:</strong> {{ domain.ssl.valid_to | date:'mediumDate' }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Key Size:</strong> {{ domain.ssl.key_size }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Signature Algorithm:</strong> {{ domain.ssl.signature_algorithm }}
      </p>
      <p class="m-0 text-xs truncate max-w-xs">
        <strong class="font-semibold">Fingerprint:</strong> {{ domain.ssl.fingerprint }}
      </p>
    </div>
  </p-panel>

  <!-- Who Is Info -->
  <p-panel *ngIf="domain.whois && isVisible('whoisRecord')" [toggleable]="true" class="custom-pannel">
    <ng-template pTemplate="header">
      <h4 class="text-surface-400 m-0 mb-2 uppercase text-sm font-bold">WHOIS Records</h4>
    </ng-template>
    <div class="flex flex-col gap-1">
      <p class="m-0 text-xs" *ngIf="domain.whois.name">
        <strong class="font-semibold">Name:</strong> {{ domain.whois.name }}
      </p>
      <p class="m-0 text-xs" *ngIf="domain.whois.organization">
        <strong class="font-semibold">Organization:</strong> {{ domain.whois.organization }}
      </p>
      <p class="m-0 text-xs" *ngIf="domain.whois.street || domain.whois.city || domain.whois.state">
        <strong class="font-semibold">Address:</strong> 
        {{ domain.whois.street }}, 
        {{ domain.whois.city }}, 
        {{ domain.whois.state }} 
        {{ domain.whois.postal_code }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Country:</strong> {{ domain.whois.country }}
      </p>
    </div>
  </p-panel>

  <!-- Host Data -->
   <p-panel *ngIf="domain.host && isVisible('hostInfo')" [toggleable]="true" class="custom-pannel">
    <ng-template pTemplate="header">
      <h4 class="text-surface-400 m-0 mb-2 uppercase text-sm font-bold">Hosts</h4>
    </ng-template>
    
    <div class="flex flex-col gap-1">
      <p class="m-0 text-xs">
        <strong class="font-semibold">ISP:</strong> {{ domain.host.isp }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Org:</strong> {{ domain.host.org }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">AS Ref:</strong> {{ domain.host.asNumber }}
      </p>
      <p class="m-0 text-xs">
        <strong class="font-semibold">Address:</strong> {{ domain.host.city }}, {{ domain.host.region }}, {{ domain.host.country }}
      </p>
    </div>
  </p-panel>

  <!-- DNS Records -->
  <p-panel *ngIf="domain.dns && isVisible('dnsRecords')" [toggleable]="true" class="custom-pannel">
    <ng-template pTemplate="header">
      <h4 class="text-surface-400 m-0 mb-2 uppercase text-sm font-bold">DNS Records</h4>
    </ng-template>
    <div class="flex flex-col gap-2">
      <p *ngIf="domain.dns.dnssec" class="m-0 text-xs">
        <strong class="font-semibold">DNSSEC:</strong> {{ domain.dns.dnssec }}
      </p>
      <div *ngIf="domain.dns.nameServers" class="m-0 text-xs">
        <strong class="font-semibold">Name Servers:</strong>
        <ul class="list-none p-0 m-0">
          <li *ngFor="let ns of domain.dns.nameServers" class="font-mono text-xs truncate">{{ ns }}</li>
        </ul>
      </div>
      <div *ngIf="domain.dns.mxRecords" class="m-0 text-xs">
        <strong class="font-semibold">MX Records:</strong>
        <ul class="list-none p-0 m-0">
          <li *ngFor="let mx of domain.dns.mxRecords" class="font-mono text-xs truncate">{{ mx }}</li>
        </ul>
      </div>
      <div *ngIf="domain.dns.txtRecords" class="m-0 text-xs">
        <strong class="font-semibold">TXT Records:</strong>
        <ul class="list-none p-0 m-0">
          <li *ngFor="let txt of domain.dns.txtRecords" class="font-mono text-xs truncate">{{ txt }}</li>
        </ul>
      </div>
    </div>
  </p-panel>

  <!-- Notes -->
  <div *ngIf="domain.notes && isVisible('notes')" class="bg-surface-100 rounded p-2">
    <span>{{ domain.notes }}</span>
  </div>
</div>

<!-- Context Menu -->
<p-contextMenu [target]="domainCard" [model]="contextMenuItems" />
