
@if (big) {
  <footer class="w-full bg-highlight text-highlight py-1">
    <div class="m-2 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
      <div class="md:col-span-3 lg:col-span-2">
        <a class="mb-3 flex align-center gap-3 no-underline text-default" routerLink="/">
          <img width="48px" src="/icon.svg" alt="Domain Locker"  />
          <div class="flex-1">
            <p class="m-0 text-lg">{{ fc.name }}</p>
            <p class="m-0">{{ fc.description }}</p>
          </div>
        </a>
        <p-button
          *ngFor="let cta of fc.ctas"
          label="{{ cta.label }}"
          class="mr-3"
          styleClass="min-w-40"
          icon="{{ cta.icon }}"
          (click)="cta.click()"
          [outlined]="!cta.isPrimary"
        />
      </div>
      <div>
        <ul class="list-none pl-0">
          <li *ngFor="let item of fc.left">
            <a href="{{ item.link }}" class="text-primary">{{ item.label }}</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-none pl-0">
          <li *ngFor="let item of fc.middle">
            <a href="{{ item.link }}" class="text-primary">{{ item.label }}</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-none pl-0">
          <li *ngFor="let item of fc.right">
            <a href="{{ item.link }}" class="text-primary">{{ item.label }}</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
} @else {
  <footer class="w-full bg-highlight py-1 opacity-70">  
    <div class="w-full flex justify-between align-center px-4">
      <p class="m-0 text-highlight">
        &copy; <a href="#" class="text-primary">Domain Locker</a> {{ year }},
        licensed under MIT
      </p>
      <p class="m-0 text-highlight">
        <a class="text-primary" href="https://github.com/lissy93/domain-locker">GitHub</a> |
        <a class="text-primary" routerLink="/about">Docs</a> |
        <a class="text-primary" routerLink="/about/legal">Legal</a> |
        <a class="text-primary" href="https://as93.net">More Apps →</a>
      </p>
    </div>
  </footer>
}
