<!-- src/app/components/navbar/navbar.component.html -->
<div class="custom-menubar flex justify-between items-center py-2 px-4">
  <button pButton icon="pi pi-bars" (click)="toggleSidebar()" class="p-button-text p-button-rounded mr-2 sm:hidden"></button>
  <a routerLink="/" class="flex items-center no-underline">
    <svg width="42px" height="42px" viewBox="0 0 16 16" fill="var(--primary, red)" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M1 7L4.80061 1.43926C5.56059 0.527292 6.68638 0 7.8735 0H8V4L12 5L15 10L14.1875 11.2188C13.4456 12.3316 12.1967 13 10.8593 13H9L7 16H5L1 7ZM10 9C10.5523 9 11 8.55229 11 8C11 7.44772 10.5523 7 10 7C9.44771 7 9 7.44772 9 8C9 8.55229 9.44771 9 10 9Z"
        fill="var(--primary-500, white)"/>
      <path d="M10 0.465878V2.43845L12 2.93845V0H11.8735C11.2125 0 10.5704 0.163501 10 0.465878Z" fill="var(--primary-700, white)"/>
    </svg>

    <span class="text-xl font-bold ml-2 text-primary">Domain Locker</span>
  </a>
  <div class="hidden sm:flex sm:items-center">
    <p-menubar [model]="items" [styleClass]="'bg-transparent border-none p-0'"></p-menubar>
    <button
      #settingsButton
      pButton
      icon="pi pi-palette"
      (click)="toggleSettings($event)"
      pTooltip="Display Options"
      tooltipPosition="bottom"
      showDelay="500"
      class="p-button-rounded p-button-text text-default hover:text-primary">
    </button>
    <p-button
      icon="pi pi-bell"
      (click)="toggleNotifications($event)"
      pTooltip="Notifications"
      tooltipPosition="bottom"
      showDelay="500"
      [text]="true"
      severity="contrast"
      class="notification-button text-default hover:text-primary">
      <p-badge
        *ngIf="unreadNotificationsCount"
        [value]="unreadNotificationsCount"
        (click)="toggleNotifications($event)"
        severity="danger"
        class="absolute top-0 right-px"
      />
    </p-button>

    <p-overlayPanel
      #notificationsOverlay
      [showTransitionOptions]="'200ms'"
      [hideTransitionOptions]="'200ms'"
      [dismissable]="true">
      <div class="w-80">
        <app-notifications-list *ngIf="notificationsVisible" [isInModal]="true" />
      </div>
    </p-overlayPanel>
    <a routerLink="/settings"  *ngIf="isAuthenticated">
      <button
        pButton
        icon="pi pi-wrench"
        pTooltip="Settings"
        tooltipPosition="bottom"
        showDelay="500"
        class="p-button-rounded p-button-text text-default hover:text-primary">
      </button>
    </a>
    <p-overlay [(visible)]="settingsVisible" [target]="settingsButton" [appendTo]="'body'"
               [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
               styleClass="settings-overlay w-60">
      <ng-template pTemplate="content">
        <app-ui-settings [isAuthenticated]="isAuthenticated" />
      </ng-template>
    </p-overlay>
  </div>
</div>
<p-sidebar [(visible)]="sidebarVisible" position="left" [styleClass]="'p-sidebar-sm'">
  <ng-template pTemplate="content">
    <div class="flex flex-col space-y-4">
      <a *ngFor="let item of items" [routerLink]="item.routerLink"
         class="p-3 hover:bg-gray-100 rounded-md flex items-center"
         (click)="closeSidebar()">
        <i [class]="item.icon + ' mr-3'"></i>
        {{ item.label }}
      </a>
    </div>
  </ng-template>
</p-sidebar>
