::ng-deep .p-overlaypanel-content {
  padding: 0;
  .notification-row {
    padding: 1rem !important;
  }
}
::ng-deep .scale-select .p-button {
  justify-content: center;
  width: 100%;
}
::ng-deep .custom-menubar .p-menubar-root-list {
  display: flex;
  align-items: center;
}
::ng-deep .custom-menubar .p-menuitem-link {
  padding: 0.5rem 0.75rem;
}
::ng-deep .custom-menubar .p-menuitem-icon {
  margin-right: 0.5rem;
}
::ng-deep .p-sidebar {
  max-width: 100%;
}
::ng-deep .settings-overlay .p-selectbutton .p-button {
  padding: 0.5rem;
}
::ng-deep p-menubar {
  display: flex;
}
.logged-in-options-wrap {
  @apply flex items-center flex-col;
  a, button {
    @apply flex items-center w-full flex justify-center my-1;
  }
}
::ng-deep .notification-button button {
  color: var(--text-color);
}
