<h2 class="my-4">Advanced</h2>

<ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 list-none p-0">
  <li>
    <a routerLink="/advanced/database-connection"
      class="p-card flex p-3 no-underline transition ease-in duration-300 border-transparent border-3 hover:border-primary-300 h-full">
      <i class="pi pi-database mr-3"></i>
      <h4 class="m-0">Database Connection</h4>
    </a>
  </li>
  <li>
    <a routerLink="/advanced/debug-info"
      class="p-card flex p-3 no-underline transition ease-in duration-300 border-transparent border-3 hover:border-primary-300 h-full">
      <i class="pi pi-stop mr-3"></i>
      <h4 class="m-0">Debug Info</h4>
    </a>
  </li>
  <li>
    <a routerLink="/advanced/delete-data"
      class="p-card flex p-3 no-underline transition ease-in duration-300 border-transparent border-3 hover:border-primary-300 h-full">
      <i class="pi pi-trash mr-3"></i>
      <h4 class="m-0">Data Deletion</h4>
    </a>
  </li>
  <li>
    <a routerLink="/domains/export"
      class="p-card flex p-3 no-underline transition ease-in duration-300 border-transparent border-3 hover:border-primary-300 h-full">
      <i class="pi pi-file-export mr-3"></i>
      <h4 class="m-0">Data Export</h4>
    </a>
  </li>
  <li>
    <a routerLink="/settings/developer-options"
      class="p-card flex p-3 no-underline transition ease-in duration-300 border-transparent border-3 hover:border-primary-300 h-full">
      <i class="pi pi-arrows-h mr-3"></i>
      <h4 class="m-0">Data Interoperability</h4>
    </a>
  </li>
  <li>
    <a routerLink="/settings"
      class="p-card flex p-3 no-underline transition ease-in duration-300 border-transparent border-3 hover:border-primary-300 h-full">
      <i class="pi pi-cog mr-3"></i>
      <h4 class="m-0">User Settings</h4>
    </a>
  </li>
  <li>
    <a routerLink="/about/developing"
      class="p-card flex p-3 no-underline transition ease-in duration-300 border-transparent border-3 hover:border-primary-300 h-full">
      <i class="pi pi-code mr-3"></i>
      <h4 class="m-0">Developer Docs</h4>
    </a>
  </li>
  <li>
    <a href="https://github.com/lissy93/domain-locker"
      class="p-card flex p-3 no-underline transition ease-in duration-300 border-transparent border-3 hover:border-primary-300 h-full">
      <i class="pi pi-github mr-3"></i>
      <h4 class="m-0">GitHub</h4>
    </a>
  </li>
</ul>
