<!-- notifications/index.page.html -->

<div *ngIf="notifications.length; else noNotifications">
  <div *ngFor="let notification of notifications"
    class="bg-surface-50 p-2 flex justify-between items-center border-solid border-0 border-b-2 border-surface-400 {{ !notification.read ? 'bg-surface-100' : '' }}"
    (mouseenter)="onNotificationHoverStart(notification.id)"
    (mouseleave)="onNotificationHoverEnd(notification.id)">
    
    <div>
      <h4 class="flex items-center gap-2">
        <app-domain-favicon [domain]="notification.domain_name" [size]="20"></app-domain-favicon>
        <a [routerLink]="'/domains/'+notification.domain_name" class="text-primary no-underline">
          {{ notification.domain_name }}
        </a>
        <span class="opacity-70 font-normal">{{ notification.change_type }}</span>
      </h4>
      <p class="mx-0 my-1">{{ notification.message }}</p>
      <small class="text-xs opacity-70">{{ notification.created_at | date:'short' }}</small>
    </div>
    <div>
      <ng-container *ngIf="!notification.read">
        <p-button [text]="true" icon="pi pi-eye" (click)="markAsRead(notification.id)" pTooltip="Mark as read" />
      </ng-container>
      <ng-container *ngIf="notification.read">
        <p-button [text]="true" icon="pi pi-eye-slash" (click)="markAsUnread(notification.id)" pTooltip="Mark as unread" />
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noNotifications>
  <p class="text-center mt-4 opacity-70">You have no notifications.</p>
</ng-template>
