<h2 class="text-2xl font-semibold my-2">Danger Zone</h2>
<p class="italic text-lg opacity-70 m-0">
  Account and data deletion operations.
  <span class="text-red-400">Caution: Actions performed here may be irreversible.</span>
</p>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4 relative">
  <div *ngFor="let card of dangerCards" class="p-card p-4 flex flex-col justify-between">
    <div>
      <h3>{{ card.title }}</h3>
      <p>{{ card.body }}</p>
    </div>
    <p-button
      *ngIf="card.buttonLink"
      [routerLink]="card.buttonLink"
      [icon]="card.buttonIcon"
      [label]="card.buttonLabel"
      [severity]="card.buttonSeverity"
      [styleClass]="card.buttonClass"
    ></p-button>
    <p-button
      *ngIf="card.buttonFunction && !card.buttonLink"
      (click)="card.buttonFunction()"
      [icon]="card.buttonIcon"
      [label]="card.buttonLabel"
      [severity]="card.buttonSeverity"
      [styleClass]="card.buttonClass"
    ></p-button>
  </div>
</div>
