
      
<p-messages severity="success" *ngIf="status === 'success'">
  <ng-template pTemplate>
    <div class="flex items-center">
      <i class="pi pi-check-circle mr-2"></i>
      <span>
        Subscription updated successfully.
        You may need to refresh this page for changes to take effect.
      </span>
    </div>
  </ng-template>
</p-messages>

<p-messages severity="error" *ngIf="status === 'failed'">
  <ng-template pTemplate>
    <div class="flex items-center">
      <i class="pi pi-exclamation-triangle mr-2"></i>
      <span>Failed to process payment, please try again or contact support.</span>
    </div>
  </ng-template>
</p-messages>

<div class="flex justify-between items-center mb-2">
  <h2>Upgrade</h2>
  <!-- <a routerLink="/about/pricing">
    <p-button
      label="Compare Plans"
      severity="secondary"
      icon="pi pi-euro"
      class="min-w-48"
      styleClass="w-fit"
    />
  </a> -->
  <p-selectButton 
    [options]="billingCycleOptions" 
    [(ngModel)]="isAnnual" 
    optionLabel="label" 
    optionValue="value"
  />
</div>


<div class="w-full p-3 p-card">
  <h3>Current Plan</h3>
  <div class="flex justify-between items-center flex-wrap">
    <div>
    <p *ngIf="currentPlan$ | async as currentPlan; else loading" class="my-1">
      You are currently on the <strong>{{ currentPlan | titlecase }}</strong> plan.
    </p>
    <ng-template #loading>
      <p>Loading billing details...
      </p>
    </ng-template>
      <p *ngIf="billingInfo && billingInfo.next_payment_due" class="opacity-70 my-1 text-sm">
        Renews on {{ billingInfo.next_payment_due | date: 'mediumDate' }}
      </p>
    </div>
    <div class="flex gap-3 flex-wrap">
      <p-button
        *ngIf="(currentPlan$ | async) !== 'pro'"
        label="Upgrade to Pro"
        (click)="handleUpgrade('pro')"
        severity="success"
        icon="pi pi-star-fill"
        size="small"
      />
      <a *ngIf="billingInfo && billingInfo.meta.invoice_pdf" [href]="billingInfo.meta.invoice_pdf">
        <p-button
          label="Download Invoice"
          severity="info"
          icon="pi pi-file-pdf"
          size="small"
        />
      </a>
      <p-button
        *ngIf="(currentPlan$ | async) !== 'free'"
        label="Cancel Plan"
        severity="danger"
        icon="pi pi-times-circle"
        size="small"
        (click)="cancelSubscription()"
      />
    </div>
  </div>
</div>


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 mt-4">
  <div *ngFor="let plan of availablePlans" class="p-card px-2 py-6 flex flex-col space-betweem gap-4 relative"> 
    <div *ngIf="(currentPlan$ | async) === plan.planId"
      class="absolute text-center bg-highlight text-highlight w-full top-0 rounded-t ml-[-0.5rem] font-semibold py-1">
      Current Plan
    </div>
    <div *ngIf="plan.suggested && (currentPlan$ | async) !== plan.planId"
      class="absolute text-center bg-green-400 w-full top-0 rounded-t ml-[-0.5rem] font-semibold py-1">
      Recommended Plan
    </div>
    <div class="flex flex-col items-center h-full gap-2">
      <h2 class="text-2xl font-bold m-0 mb-2">{{ plan.title }}</h2>
      <p class="text-5xl font-semibold m-0 {{ plan.suggested ? 'text-green-500' : 'text-primary-500'}}">
        ${{ getPrice(plan) }}<span class="text-lg font-medium text-gray-500">/mo</span>
      </p>
      <p class="text-gray-400 mb-4">{{ isAnnual ? 'Billed annually' : 'Billed monthly' }}</p>
      
      <ul class="text-surface-500 space-y-2 list-none m-0 p-0">
        <li *ngFor="let feature of plan.features">
          <i class="pi pi-check-circle mr-2 text-green-500"></i>{{ feature }}
        </li>
      </ul>
    </div>  
    <button pButton
      *ngIf="(currentPlan$ | async) !== plan.planId && plan.planId !== 'free'"
      routerLink="/settings/upgrade"
      label="Upgrade"
      [severity]="plan.suggested ? 'success' : 'secondary'"
      (click)="handleUpgrade(plan.planId)"
      class="mx-4 p-button-primary {{ plan.suggested ? '' : 'p-button-outlined' }}"></button>
  </div>
</div>

