

<section *ngFor="let section of sections" class="p-card p-4 mx-auto my-4">
  <a [routerLink]="makeId(section.title)" class="text-default no-underline">
    <h2 [id]="makeId(section.title)">{{ section.title }}</h2>
  </a>
  
  <ul class="pl-4">
    <li *ngFor="let link of section.links">
      <a *ngIf="link.href; else routerLinkTemplate" [href]="link.href" class="text-primary font-semibold no-underline">
        {{ link.title }}
      </a>
      <ng-template #routerLinkTemplate>
        <a [routerLink]="link.link" class="text-primary font-semibold no-underline">
          {{ link.title }}
        </a>
      </ng-template>
      <span *ngIf="link.description" class="opacity-70 italic ml-2">- {{ link.description }}</span>
    </li>
  </ul>
</section>
