<p-contextMenu #menu [model]="contextMenuItems" appendTo="body"></p-contextMenu>

@if (tags && tags.length > 0) {
  <div class="grid {{ miniGrid ? 'grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2' : 'grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-3'}}" *ngIf="!loading">
    <a 
      *ngFor="let tag of tags"
      [routerLink]="['/assets/tags', tag.name]"
      class="p-card w-full p-2 flex align-items-center gap-2 no-underline overflow-hidden 
      text-{{tag.color || 'primary'}}-400
      transition ease-in duration-300 border-transparent border-3 hover:border-{{tag.color || 'primary'}}-300"
      (contextmenu)="onRightClick($event, tag)"
      [pTooltip]="tooltipContent"
      showDelay="350" 
      hideDelay="50"
      >
      @if (tag.icon) {
        <div class="tag-icon larger-larger" style="mask-image: url('https://api.iconify.design/{{tag.icon}}.svg');"></div>
      }
      <div class="flex flex-col flex-1">
        <div class="flex items-center justify-between gap-1">
          <h2 class="capitalize text-lg m-0 truncate">{{ tag.name }}</h2>
          <strong>{{ tag.domain_count }}</strong>
        </div>
        @if (tag.description) {
          <p class="m-0 italic truncate text-{{tag.color || 'gray'}}-400 opacity-65">{{ tag.description }}</p>
        }
      </div>
      <ng-template #tooltipContent>
        <div class="flex flex-col">
          <span>
            <b>{{tag.name}}</b>
            @if (tag.domain_count > 0) {
              <p class="m-0">Contains {{tag.domain_count}} domains</p>
            } @else {
              <p class="m-0">No domains attached</p>
            }
          </span>
          <p class="m-0 text-{{tag.color || 'gray'}}-400">{{tag.description}}</p>
          @if (!tag.description && !tag.icon && !tag.color) {
            <p class="m-0 mt-2 text-xs text-blue-400">Tip: You can add color, icon and description to tags</p>
          }
          <p class="m-0 text-xs opacity-70">Right-click for options</p>
        </div>
      </ng-template>
    </a>
  </div>

  <p class="mx-0 mt-4 mb-2 float-right text-xs text-surface-300">
    Showing {{ tags.length }} tags - <a class="text-primary opacity-70" routerLink="/assets/tags">View All Tags</a><br>
    Right-click on a tag to view options.
  </p>
} @else {
  <p class="text-center text-2xl text-surface-300 italic">No tags created yet</p>
  <p class="text-center text-surface-300 mt-0 mb-8">
    Attach a tag to a new or existing domain, or <a class="text-primary opacity-70" routerLink="/assets/tags/new">Create new Tag</a>.
  </p>
}

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<p-confirmDialog />
