<p-table [value]="domains"
  [columns]="visibleColumns"
  [scrollable]="true"
  [loading]="loading"
  
  [resizableColumns]="true"
  [sortMode]="'multiple'"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,25,50]"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width.px]="col.width">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-domain let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container [ngSwitch]="col.field">
          <span *ngSwitchCase="'domain_name'">
            <a [href]="'/domains/'+domain.domain_name" class="font-bold no-underline text-default hover:underline">
              <app-domain-favicon [domain]="domain.domain_name" [size]="18" class="mr-2"></app-domain-favicon>
              {{domain.domain_name}}
            </a>
          </span>
          <span *ngSwitchCase="'registrar'">{{domain.registrar?.name}}</span>
          <span *ngSwitchCase="'expiry_date'">
            {{domain.expiry_date | date:'mediumDate'}}
            <p-tag 
              [value]="domainUtils.getRemainingDaysText(domain.expiry_date)"
              [severity]="domainUtils.getExpirySeverity(domain.expiry_date)"
              styleClass="ml-2 w-20"
            ></p-tag>
          </span>
          <span *ngSwitchCase="'tags'">
            <a *ngFor="let tag of domain.tags" [href]="'/tags/'+tag">
              <p-tag  [value]="tag" styleClass="bg-highlight rounded-2xl text-highlight px-2  py-1 mr-1"></p-tag>
            </a>
          </span>
          <ng-container *ngSwitchCase="'notes'">
            <span [pTooltip]="domain.notes">{{domainUtils.truncateNotes(domain.notes)}}</span>
          </ng-container>
          <span *ngSwitchCase="'ip_addresses'">
            <ng-container *ngFor="let ip of domain.ip_addresses">
              {{ip.ip_address}} ({{ip.is_ipv6 ? 'IPv6' : 'IPv4'}})<br>
            </ng-container>
          </span>
          <span *ngSwitchCase="'ssl'">
            {{domain.ssl?.issuer}}<br>
            Valid until: {{domain.ssl?.valid_to | date:'shortDate'}}
          </span>
          <span *ngSwitchCase="'whois'">{{domain.whois?.name}}</span>
          <span *ngSwitchCase="'host'">{{domain.host?.isp}}</span>
          <span *ngSwitchCase="'dns'">
            <ng-container *ngIf="domain.dns?.nameServers">
              NS: {{domain.dns.nameServers[0]}}
            </ng-container>
          </span>
          <span *ngSwitchDefault>{{domain[col.field]}}</span>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
